In [7]:
import re

In [39]:
chat1='meetsinh mori metsahsfg@gmail.com 1234567890'
chat2='metsth gsthfgfghr rrts@gmail.com 5432343255'
chat3='ronak 2343 edf erdvftrvdfggdfg'
chat4='(123)-5343-343'
chat5='dfsfs_A12@gmail.com'

In [13]:
pattern='\d{10}'
matches=re.findall(pattern,chat1)
matches

['1234567890']

In [14]:
pattern='\d{10}'
matches2=re.findall(pattern,chat3)
matches2

[]

In [18]:
pattern4='\(\d{3}\)' 
# we are using this pattern for finding (123) if we will use only () then it will match every thing inside it 
#like wise here it will match all numbers with 3  digits also so , that's why we are specifying escape character '\' before bracket and before bracket end 
matches4=re.findall(pattern4,chat4)
matches4

['(123)']

In [23]:
#now we will match full pattern of chat4
pattern5 = '\(\d{3}\)-\d{4}-\d{3}'
matches5=re.findall(pattern5,chat4)
matches5

['(123)-5343-343']

In [29]:
#now here I am going to use or operator for that we will use (|) pipe it will match this paater or that for exa: a|b it will 
#return either of any pattern matches 
pattern6 = '\d{10}|\(\d{3}\)-\d{4}-\d{3}'
matches6=re.findall(pattern6,chat4)
matches6b= re.findall(pattern6,chat1)
print(matches6)
print(matches6b)

['(123)-5343-343']
['1234567890']

#now we will look at format of email Id

In [35]:
pattern7='[a-z0-9A-z_]*@[a-z0-9A-z_]*\.[a-zA-Z]*'
pattern7='[a-z]*@'
matches7=re.findall(pattern7,chat1)
matches7
#so as you can see below it [a-z] will match to for individual  character present and here * will match for all character together
# here @ is for paatern of gmail 
# so , this pattern wil return all text[a-z] before @ including @

['metsahsfg@']

In [40]:
#now  simillarly we can create a simillar pattern which will match with digits ,capital letters and _ 
pattern8='[a-z0-9A-z_]*@'
matches8=re.findall(pattern8,chat5)
matches8

['dfsfs_A12@']

In [41]:
#now we will use it for specifying any domain name 
#here you can go with any particular domain or general domain depends upon you 
pattern9='[a-z0-9A-z_]*@[a-z0-9A-z_]*\.[a-zA-Z]*'
#here \. is for .com ,.in .ac etc
#and without * it will match for any single character 
matches9=re.findall(pattern9,chat5)
matches9

['dfsfs_A12@gmail.com']

In [42]:
#matching for particularly .com
pattern10='[a-z0-9A-z_]*@[a-z0-9A-z_]*\.com'
matches10=re.findall(pattern10,chat5)
matches10

['dfsfs_A12@gmail.com']

printing anything accept nubmer ,alphabate or any special character  \
we will use ^

In [44]:
chat7='registration id 123434'
chat8='registration id-adfdf432'

['432']

In [45]:
#here we are skiping digits after registration 
pattern11='registration[^\d]*'
matches11=re.findall(pattern11,chat8)
matches11

['registration id-adfdf']

In [47]:
#now if we want to print digits also
pattern12='registration[^\d]*\d*'
matches12=re.findall(pattern12,chat8)
matches12

['registration id-adfdf432']

In [49]:
#now if you want to print only digit out of the same pattern we will use () around \d*
#here we are first taking registration then we are skiping all digits and then taking digits and printing only that digits which are after registration only
pattern13='registration[^\d]*(\d*)'
matches13=re.findall(pattern13,chat8)
matches13

['432']

#  information extraction

In [73]:
text = '''Born Ratan Naval Tata
28 December 1937 (age 85) 
Bombay, Bombay Presidency, 
British India Alma mater Cornell University (BArch)
Occupation Industrialist
Title Chairman Emeritus, Tata Sons and Tata Group[1]
Term 
1991–2012
2016–2017
Predecessor J. R. D. Tata
Successor 
Cyrus Mistry (2012–2016)
Natarajan Chandrasekaran (2017–present)
Parent Naval Tata
Relatives ata family
Awards 
Assam Baibhav (2021)
Padma Vibhushan (2008)
Maharashtra Bhushan (2006)
Padma Bhushan (2000)
Order of Australia (2023)
'''

In [64]:
#finding age of person
pattern14 ='age (\d+)'
#here + means  1 or more of d 
#and if we put * it means that 0 or more than that
matches14=re.findall(pattern14,text)
matches14

['85']

In [68]:
#finding birth name 
pattern15='Born(.*)'
# . means any character 
#* means any character 0 0r more 
matches15=re.findall(pattern15,text)
matches15

[' Ratan Naval Tata']

In [70]:
#finding birth date of a person
pattern16='Born.*\n(.*)\(age*'
matches16=re.findall(pattern16,text)
matches16

['28 December 1937 ']

In [71]:
#finding birth place
pattern17='\age.*\n(.*)'
matches17=re.findall(pattern17,text)
matches17

[]

In [80]:
pattern18='\(age.*\n(.*)'
matches18=re.findall(pattern18,text)
matches18

['Bombay, Bombay Presidency, ']